$text-active: #7bf762;
$text-inactive: #5a8f4f;
$text-white: #ffffff;
$border-active: #7bf762;
$border-inactive: #5a8f4f;
$green-bg: #1c3c16;

@mixin border-inactive {
  border: 1px solid $border-inactive;
  border-radius: 0.5em;
}

.active {
  border: 1px solid $border-active !important;
  filter: drop-shadow(0px 0px 3px #7bf762);

  p {
    color: $text-active;
  }
}

.main-container {
  width: 59em;
  height: 100%;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid $border-active;
  border-radius: 0.5em;
}

.main-container__headline {
  margin-top: 0.33333em;
  margin-bottom: 3.20835em;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: $text-active;
}

.main-wrapper {
  display: flex;
}

.section-container {
  position: relative;
  display: flex;
}

.section-container__name {
  position: absolute;
  top: -1.85em;
  font-size: 1.125em;
  line-height: 1em;
  font-weight: 400;
  color: $text-active;
  margin: 0;
}

.color-container {
  height: 7em;
  width: 10em;
  margin: 0 2em 5em 0;
  display: flex;
  flex-direction: column;
  color: $text-inactive;
  @include border-inactive;

  div {
    height: 2em;
    width: 4em;
    margin: 1em auto 0.5em;
    border-radius: 0.5em;
  }

  p {
    font-size: 0.75em;
    margin: 0 auto 1em;
    letter-spacing: 0.1em;
  }

  p:last-child {
    font-size: 0.875em;
    margin-top: 0 auto;
  }
}

.power-container {
  height: 4em;
  width: 10em;
  margin: 0 2em 5em 0;
  display: flex;
  flex-direction: column;
  color: $text-inactive;
  @include border-inactive;

  p {
    margin: 1em auto;
    font-size: 0.875em;
    line-height: 0.9em;
    letter-spacing: 0.1em;
  }

  p:last-child {
    font-size: 0.75em;
    margin-top: 0;
  }
}

.options-container {
  height: 12em;
  width: 10em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  color: $text-inactive;
  @include border-inactive;

  p {
    letter-spacing: 0.1em;
    font-size: 0.875em;
  }

  p:nth-child(1) {
    margin: 1.14285em auto;
    margin-bottom: 0.64285em;
  }

  p:nth-child(2) {
    margin: 0 auto;
    margin-bottom: 0.5em;
    font-family: "Roboto";
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .options-container__includes {
    height: 8.25em;
    width: 100%;
    margin-top: auto;
    padding-left: 1em;
    padding-top: 1.1875em;
    background-color: $green-bg;
    border-radius: 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      margin-right: 0.334em;
      height: 0.575em;
      width: 0.7em;
    }

    .includes__item {
      font-size: 0.75em;
      font-family: "Roboto Mono" !important;
      line-height: 0.833335em;
      letter-spacing: 0;
      margin: 0 0 0.5833em 0 !important;
    }
  }
}

.cost-container {
  width: 19em;
  height: 15em;
  padding-top: 1em;
  background-color: $green-bg;
  border: 1px solid $border-active;
  box-sizing: border-box;
  border-radius: 0.5em;

  .cost-wrapper {
    display: flex;
  }

  p {
    margin-left: 1em;
    margin-bottom: 1em;
    color: $text-active;
    font-size: 0.875em;
    line-height: 1.28572em;
    letter-spacing: 0.2em;
  }

  .cost-wrapper__left {
    margin-right: 0.75em;
  }

  .cost-wrapper__right {
    > p {
      color: white;
    }
  }

  .total__left {
    width: 11.85em;
  }

  .cost-container__total {
    height: 4em;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-active;
  }

  .cost__right {
    > p {
      color: white;
    }
  }

  .cost__total {
    font-size: 1.125em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .main-container__headline {
    font-size: clamp(0.75rem, -0.2625rem + 4.5vw, 1.425rem);
  }

  .main-wrapper {
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.5rem, -0.175rem + 3vw, 0.95rem);
  }

  .section-container {
    margin-right: -2em;
  }

  .section-container__name {
    left: 0;
  }

  .main-wrapper__left {
    margin-bottom: 5em;
  }
}
