@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$main-bg-color: #051544;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg-color;
  font-size: clamp(0.35rem, -0.0111rem + 1.6049vw, 1rem);
  line-height: 1;
  width: 100%;
}
